/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page {
    width: 900px;
    margin: auto;
}

.entete {
    height: 100px;
}

.colonne_menu {
    float: left;
    width: 200px;
    height: 100%;
}

.colonne_contenu {
    margin-left: 200px;
}

.pieddepage {
    height: 50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body {
    /* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: rgb(202, 202, 202);
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

.page {

}

.entete {
    background-color: rgb(125, 255, 168);
    padding: 10px;
}

.colonnes {
    background-color: deepskyblue;
}

.colonne_menu {
    background-color: gold;
}

.colonne_contenu {
    background-color: rgb(125, 255, 168);
    margin: 10px;
}

.pieddepage {
    background-color: rgb(125, 255, 168);
    color: white;
    text-align: center;
    line-height: 50px;
}

.titre {
    font-size: 3.5rem;
    color: white;
}

.slogan {
    font-size: 1.5rem;
    color: white;
    font-style: italic;
}

h1 {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid rgb(255, 144, 144);
}

h2 {
    color: rgb(255, 144, 144);
    font-size: 1.2rem;
    padding: 20px;
    font-variant: small-caps;
}

strong {
    color: rgb(255, 144, 144);
    font-weight: normal;
}

em {
    color: rgb(182, 127, 255);
} 

.introduction {
    font-style: italic;
    border: 3px solid white;
    margin: 10px;
    border-radius: 10px;
}

a {
   font-weight: bold; 
}

a:hover {
    color:rgb(182, 127, 255);
    text-decoration: none;
}